@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?36929788');
  src: url('../font/fontello.eot?36929788#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?36929788') format('woff2'),
       url('../font/fontello.woff?36929788') format('woff'),
       url('../font/fontello.ttf?36929788') format('truetype'),
       url('../font/fontello.svg?36929788#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?36929788#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-btc:before { content: '\e800'; } /* '' */
.icon-burger:before { content: '\e801'; } /* '' */
.icon-carier:before { content: '\e802'; } /* '' */
.icon-check:before { content: '\e803'; } /* '' */
.icon-documents:before { content: '\e804'; } /* '' */
.icon-faq:before { content: '\e805'; } /* '' */
.icon-finance:before { content: '\e806'; } /* '' */
.icon-legend:before { content: '\e808'; } /* '' */
.icon-news:before { content: '\e809'; } /* '' */
.icon-mining:before { content: '\e80a'; } /* '' */
.icon-peoples:before { content: '\e80b'; } /* '' */
.icon-pending:before { content: '\e80c'; } /* '' */
.icon-rejected:before { content: '\e80d'; } /* '' */
.icon-profile:before { content: '\e80e'; } /* '' */
.icon-statistic:before { content: '\e80f'; } /* '' */
.icon-person:before { content: '\e810'; } /* '' */
.icon-star-fill:before { content: '\e811'; } /* '' */
.icon-star:before { content: '\e812'; } /* '' */
.icon-usd:before { content: '\e813'; } /* '' */
.icon-world:before { content: '\e814'; } /* '' */
.icon-arrow:before { content: '\e815'; } /* '' */
.icon-arrow-down:before { content: '\e816'; } /* '' */
.icon-account:before { content: '\e817'; } /* '' */
.icon-bell:before { content: '\e818'; } /* '' */
.icon-team:before { content: '\e819'; } /* '' */
.icon-marker:before { content: '\e81a'; } /* '' */
.icon-diagram:before { content: '\e81b'; } /* '' */
.icon-confirmed:before { content: '\e81c'; } /* '' */
.icon-exit:before { content: '\e81d'; } /* '' */
.icon-support:before { content: '\e81e'; } /* '' */
.icon-fon:before { content: '\e81f'; } /* '' */
.icon-eth:before { content: '\e820'; } /* '' */